.dealer-filters{
  padding: 1em;
  border-radius: .25em;
  background-color: $grey;
  text-align: center;
  .results{
    flex: 1 0 auto;
    text-align: right;
    color: $lightblue;
    font-weight: bold;
    padding: 1em;
    margin-right: 1em;
    border-right: 1px solid darken($grey, 10);
  }
}

.filters-list{
  flex: 3 0 auto;
  @include breakpoint($tablet){
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header{
    font-weight: bold;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
    li{
      display: flex;
      align-items: center;
      margin-left: 1em;
      @include breakpoint($tablet) {
        display: inline-flex;
      }
    }
    input{
      margin-right: 1em;
    }
  }
}
