.dealer-grid{
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1em auto 1em;
  @include breakpoint($tablet){
    margin: 1em auto 2em;
  }
}

.dealer-card{
  flex: 1 0 100%;
  max-width: 100%;
  margin-bottom: 1em;
  .content{
    position: relative;
    height: 100%;
    background-color: $white;
    @include depth(1);
    border-radius: 1em;
    margin: 0 auto;
    z-index: 1;
    overflow: hidden;
  }
  @include breakpoint($tablet){
    flex: 1 0 50%;
    max-width: 50%;
    &:nth-child(2n + 1) .content{
      margin: 0 .5em 0 auto;
    }
    &:nth-child(2n + 2) .content{
      margin: 0 auto 0 .5em;
    }
  }
  @include breakpoint($desktop){
    flex: 1 0 33.3%;
    max-width: 33.3%;
    &:nth-child(2n + 1) .content{
      margin: 0 auto;
    }
    &:nth-child(2n + 2) .content{
      margin: 0 auto;
    }
    &:nth-child(3n + 1) .content{
      margin: 0 1em 0 auto;
    }
    &:nth-child(3n + 3) .content{
      margin: 0 auto 0 1em;
    }
  }
}

.dealer-card header.name{
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.75em;
  padding: 0 1.5em;
  font-weight: 300;
  margin: 0.5em;
  border-bottom: 1px solid $grey;
}

.dealer-card main{
  padding: 1em 0;
  text-align: center;
}

// TODO Mobile formatting of Card needs to be adjusted to match the design.

.dealer-card .phone{
  .phone-icon{
    height: 28px;
    width: 28px;
    margin-right: .5em;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("./../assets/images/phone-icon-mobile.png");
    @include breakpoint($tablet){
      background-image: url("./../assets/images/phone-icon-desktop.png");
    }
  }
  a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.5em;
    color: $black;
    font-weight: bold;
    transition: all .1s ease-in;
    &:hover{
      color: $darkblue;
    }
  }
}

.mail-pro{
  margin: 1em auto;
  display: inline-block;
  border-radius: .25em;
  padding: .65em 1em;
  border: 2px solid $highlight;
  color: $darkblue;
  text-decoration: none;
  font-weight: bold;
  transition: all .1s ease-in;
  i{
    position: relative;
    top: 1px;
    margin-right: .5em;
  }
  &:hover{
    color: $white;
    background-color: $highlight;
    border: 2px solid darken($highlight, 10);
  }
}

.hours{
  margin: 2em auto;
  header{
    font-weight: bold;
    font-size: 1.15em;
  }
  p{
    margin: .25em 0;
  }
}


.certifications{
  position: relative;
  min-height: 8em;
  line-height: 1;
  padding: 2em;
  background-color: $grey;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  .certification{
    flex: 1 0 50%;
    display: flex;
    padding: .5em 0;
    color: darken($grey, 30);
    i{
      margin-right: .5em;
    }
  }
}
