/*
Utility Imports
*/
/*
Colors
Color Palette: https://coolors.co/073d8b-216ddf-01c7c5-3f3f3f-f5f5f5
*/
/*
Responsive Breakpoints
*/
/*
Globals
*/
/*
Font Files
*/
@font-face {
  font-family: 'Open Sans';
  src: url("./../assets/fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("./../assets/fonts/open-sans/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("./../assets/fonts/open-sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("./../assets/fonts/open-sans/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("./../assets/fonts/open-sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("./../assets/fonts/open-sans/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

/*
** Material Shadow Depth
** Arguments: Int 0 - 5
*/
/*
** Center Position
*/
/*
** Breakpoint
*/
/*
Layout Imports
*/
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400; }

img {
  max-width: 100%;
  height: auto; }

#content {
  background-color: #FFFFFF;
  margin-top: 54px; }
  @media (min-width: 768px) {
    #content {
      margin-top: 145px; } }

.banner {
  background-image: url("./../assets/images/water-image.png");
  height: 130px;
  background-position: center top;
  background-size: cover; }

.container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  display: block; }

.container.padded {
  padding: 1em; }

.container.flex {
  display: flex; }
  .container.flex.centered {
    align-items: center; }
  .container.flex.flex-end {
    justify-content: flex-end; }
  .container.flex.flex-between {
    justify-content: space-between; }

.masthead {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  background-color: #FFFFFF;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.masthead .meta {
  display: none; }
  @media (min-width: 768px) {
    .masthead .meta {
      display: block;
      background-color: #073D8B;
      padding: 1em; }
      .masthead .meta a {
        line-height: 1;
        color: #FFFFFF;
        text-decoration: none;
        margin-left: 3em; }
      .masthead .meta i {
        margin-left: .5em;
        position: relative;
        top: 2px; } }

.navigation {
  padding: 1em 1em .5em; }
  @media (min-width: 768px) {
    .navigation {
      padding: 2em 1em; } }

.logo-wrapper img {
  max-height: 28px; }
  @media (min-width: 768px) {
    .logo-wrapper img {
      max-height: 36px; } }

.main-nav ul {
  margin: 0;
  padding: 0;
  text-align: right;
  list-style-type: none;
  display: none; }
  @media (min-width: 768px) {
    .main-nav ul {
      display: inline-block; } }
  .main-nav ul li {
    display: inline-block;
    margin-left: 1em; }
    @media (min-width: 992px) {
      .main-nav ul li {
        margin-left: 2em; } }
    @media (min-width: 1200px) {
      .main-nav ul li {
        margin-left: 3em; } }
  .main-nav ul a {
    color: #073D8B;
    font-weight: bold;
    text-decoration: none;
    padding: .75em .3em; }
    @media (min-width: 992px) {
      .main-nav ul a {
        padding: .75em .6em; } }
    @media (min-width: 1200px) {
      .main-nav ul a {
        padding: .75em 1em; } }
  .main-nav ul li.callout a {
    border: 2px solid #216DDF;
    border-radius: .25em;
    color: #216DDF;
    padding: .75em 1.5em;
    display: none; }
    .main-nav ul li.callout a i {
      margin-right: .5em; }
    @media (min-width: 992px) {
      .main-nav ul li.callout a {
        display: inline-block; } }

.site-footer {
  margin-top: 1em;
  background-color: #073D8B; }
  @media (min-width: 768px) {
    .site-footer {
      margin-top: 4em; } }
  .site-footer .content {
    padding: 3em 0 2em 0;
    text-align: center; }
  .site-footer .meta {
    padding: 1em 0;
    background-color: #216DDF; }
  .site-footer .logo-wrapper img {
    max-height: 28px; }

.site-footer .meta ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  font-size: .9em; }
  .site-footer .meta ul li, .site-footer .meta ul a {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF; }
  .site-footer .meta ul li {
    padding: 0 1em;
    position: relative; }
    .site-footer .meta ul li + li:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: #FFFFFF; }

.socials {
  display: flex;
  align-items: center;
  margin: 1em auto 0;
  padding: 0 1em;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .socials {
      justify-content: center; } }
  .socials span {
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase; }
  .socials ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; }
  .socials li {
    margin-left: 1em; }
  .socials li, .socials a {
    display: inline-block; }
  .socials img {
    max-height: 20px;
    max-width: 18px; }

/*
Component Imports
*/
.dealer-filters {
  padding: 1em;
  border-radius: .25em;
  background-color: #ECECEC;
  text-align: center; }
  .dealer-filters .results {
    flex: 1 0 auto;
    text-align: right;
    color: #216DDF;
    font-weight: bold;
    padding: 1em;
    margin-right: 1em;
    border-right: 1px solid lightgray; }

.filters-list {
  flex: 3 0 auto; }
  @media (min-width: 768px) {
    .filters-list {
      display: flex;
      align-items: center;
      justify-content: space-between; } }
  .filters-list header {
    font-weight: bold; }
  .filters-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right; }
    .filters-list ul li {
      display: flex;
      align-items: center;
      margin-left: 1em; }
      @media (min-width: 768px) {
        .filters-list ul li {
          display: inline-flex; } }
    .filters-list ul input {
      margin-right: 1em; }

.dealer-grid {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1em auto 1em; }
  @media (min-width: 768px) {
    .dealer-grid {
      margin: 1em auto 2em; } }

.dealer-card {
  flex: 1 0 100%;
  max-width: 100%;
  margin-bottom: 1em; }
  .dealer-card .content {
    position: relative;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    border-radius: 1em;
    margin: 0 auto;
    z-index: 1;
    overflow: hidden; }
  @media (min-width: 768px) {
    .dealer-card {
      flex: 1 0 50%;
      max-width: 50%; }
      .dealer-card:nth-child(2n + 1) .content {
        margin: 0 .5em 0 auto; }
      .dealer-card:nth-child(2n + 2) .content {
        margin: 0 auto 0 .5em; } }
  @media (min-width: 992px) {
    .dealer-card {
      flex: 1 0 33.3%;
      max-width: 33.3%; }
      .dealer-card:nth-child(2n + 1) .content {
        margin: 0 auto; }
      .dealer-card:nth-child(2n + 2) .content {
        margin: 0 auto; }
      .dealer-card:nth-child(3n + 1) .content {
        margin: 0 1em 0 auto; }
      .dealer-card:nth-child(3n + 3) .content {
        margin: 0 auto 0 1em; } }

.dealer-card header.name {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.75em;
  padding: 0 1.5em;
  font-weight: 300;
  margin: 0.5em;
  border-bottom: 1px solid #ECECEC; }

.dealer-card main {
  padding: 1em 0;
  text-align: center; }

.dealer-card .phone .phone-icon {
  height: 28px;
  width: 28px;
  margin-right: .5em;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("./../assets/images/phone-icon-mobile.png"); }
  @media (min-width: 768px) {
    .dealer-card .phone .phone-icon {
      background-image: url("./../assets/images/phone-icon-desktop.png"); } }

.dealer-card .phone a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.5em;
  color: #0F0F0F;
  font-weight: bold;
  transition: all .1s ease-in; }
  .dealer-card .phone a:hover {
    color: #073D8B; }

.mail-pro {
  margin: 1em auto;
  display: inline-block;
  border-radius: .25em;
  padding: .65em 1em;
  border: 2px solid #01C7C5;
  color: #073D8B;
  text-decoration: none;
  font-weight: bold;
  transition: all .1s ease-in; }
  .mail-pro i {
    position: relative;
    top: 1px;
    margin-right: .5em; }
  .mail-pro:hover {
    color: #FFFFFF;
    background-color: #01C7C5;
    border: 2px solid #019493; }

.hours {
  margin: 2em auto; }
  .hours header {
    font-weight: bold;
    font-size: 1.15em; }
  .hours p {
    margin: .25em 0; }

.certifications {
  position: relative;
  min-height: 8em;
  line-height: 1;
  padding: 2em;
  background-color: #ECECEC;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }
  .certifications .certification {
    flex: 1 0 50%;
    display: flex;
    padding: .5em 0;
    color: #a0a0a0; }
    .certifications .certification i {
      margin-right: .5em; }
