// Base Styles
*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $bodyFont;
  font-size: $baseFontSize;
  font-weight: 400;
}

img{
  max-width: 100%;
  height: auto;
}

#content{
  background-color: $white;
  margin-top: 54px;
  @include breakpoint($tablet){
    margin-top: 145px;
  }
}

.banner{
  background-image: url("./../assets/images/water-image.png");
  height: 130px;
  background-position: center top;
  background-size: cover;
}

.container{
  max-width: $containerWidth;
  width: 100%;
  margin: auto;
  display: block;
}

.container.padded{
  padding: 1em;
}

.container.flex{
  display: flex;
  &.centered{
    align-items: center;
  }
  &.flex-end{
    justify-content: flex-end;
  }
  &.flex-between{
    justify-content: space-between;
  }
}
