.masthead{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  background-color: $white;
  @include depth(1);
}

.masthead .meta{
  display: none;
  @include breakpoint($tablet){
    display: block;
    background-color: $darkblue;
    padding: 1em;
    a{
      line-height: 1;
      color: $white;
      text-decoration: none;
      margin-left: 3em;
    }
    i{
      margin-left: .5em;
      position: relative;
      top: 2px;
    }
  }
}

.navigation{
  padding: 1em 1em .5em;
  @include breakpoint($tablet) {
    padding: 2em 1em;
  }
}

.logo-wrapper img{
  max-height: 28px;
  @include breakpoint($tablet) {
    max-height: 36px;
  }
}

.main-nav ul{
  margin: 0;
  padding: 0;
  text-align: right;
  list-style-type: none;
  display: none;
  @include breakpoint($tablet) {
    display: inline-block;
  }
  li{
    display: inline-block;
    margin-left: 1em;
    @include breakpoint($desktop) {
      margin-left: 2em;
    }
    @include breakpoint($largeDesktop) {
      margin-left: 3em;
    }
  }
  a{
    color: $darkblue;
    font-weight: bold;
    text-decoration: none;
    padding: .75em .3em;
    @include breakpoint($desktop) {
      padding: .75em .6em;
    }
    @include breakpoint($largeDesktop) {
      padding: .75em 1em;
    }
  }
  li.callout a{
    border: 2px solid $lightblue;
    border-radius: .25em;
    color: $lightblue;
    padding: .75em 1.5em;
    i{
      margin-right: .5em;
    }
    display: none;
    @include breakpoint($desktop) {
      display: inline-block;
    }
  }
}
