.site-footer{
  margin-top: 1em;
  @include breakpoint($tablet){
    margin-top: 4em;
  }
  background-color: $darkblue;
  .content{
    padding: 3em 0 2em 0;
    text-align: center;
  }
  .meta{
    padding: 1em 0;
    background-color: $lightblue;
  }
  .logo-wrapper img{
    max-height: 28px;
  }
}

.site-footer .meta ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  font-size: .9em;
  li, a{
    display: inline-block;
    text-decoration: none;
    color: $white;
  }

  li{
    padding: 0 1em;
    position: relative;
    &+li:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: $white;
    }
  }
}

.socials{
  display: flex;
  align-items: center;
  margin: 1em auto 0;
  padding: 0 1em;
  justify-content: space-between;
  @include breakpoint($tablet){
    justify-content: center;
  }
  span{
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  li{
    margin-left: 1em;
  }
  li, a{
    display: inline-block;
  }
  img{
    max-height: 20px;
    max-width: 18px;
  }
}
