/*
Colors
Color Palette: https://coolors.co/073d8b-216ddf-01c7c5-3f3f3f-f5f5f5
*/
$darkblue: #073D8B;
$lightblue: #216DDF;
$highlight: #01C7C5; // Alternatively, named after the color Turquoise
$black: #0F0F0F;
$space: #3F3F3F; // Not pure black
$grey: #ECECEC;
$smoke: #F5F5F5; // Slightly off white
$white: #FFFFFF;

/*
Responsive Breakpoints
*/
$tablet: 768px;
$desktop: 992px;
$largeDesktop: 1200px;

/*
Globals
*/
$containerWidth: 1280px;
$baseFontSize: 15px;
$bodyFont: 'Open Sans', sans-serif;
